{% extends 'dashboard_final/dashboard_edit.html' %}
{% load static %}

{% block content %}

<div id="my_note_div" name="my_note_div"></div>

<script>
var ret = JSON.parse(window.localStorage.getItem('notifications'));

  ret.forEach(function(item){
    if(item.includes("parameters")){
      document.getElementById('my_note_div').innerHTML += '<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert" aria-label="Close" '+ 'onclick="my_close('+ item +')"'+'><i class="material-icons">close</i></button><span>'+item+'</span></div>';
    }
    else if (item.includes("Assistance")){
      document.getElementById('my_note_div').innerHTML += '<div class="alert alert-info"><button type="button" class="close" data-dismiss="alert" aria-label="Close" '+ 'onclick="my_close('+ item +')"'+'><i class="material-icons">close</i></button><span>'+item+'</span></div>';
    }
    else if (item.includes("Emergency")){
      document.getElementById('my_note_div').innerHTML += '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close" '+ 'onclick="my_close('+ item +')"'+'><i class="material-icons">close</i></button><span>'+item+'</span></div>';
    }
    else{
    document.getElementById('my_note_div').innerHTML +=  '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close" '+ 'onclick="my_close('+ item +')"'+'><i class="material-icons">close</i></button><span>'+item+'</span></div>';
    }
});

function myOpenFunction(){
  document.getElementById("notification_nav").className = "nav-item active";
  window.localStorage.setItem('count', 0);
  document.getElementById('notification_number').innerText =  Number(window.localStorage.getItem('count'));
}

</script>

{% endblock %}
