<main>
  <div class="position-relative" >
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Swarogya
                <span>Hospital Management System</span>
              </h1>
              <p class="lead  text-white">We interface a smartphone application to a web based application that is handled by health professionals of hospitals.
              </p>
              <div class="btn-wrapper">
                <a href="https://play.google.com/store/apps/details?id=com.swarogya.app" target="_blank" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-android"></i></span>
                  <span class="btn-inner--text">Android</span>
                </a>
                <a href="https://app.swarogya.com" target="_blank" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                  <span class="btn-inner--text">Web Portal</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Health Professional Login</h6>
                  <p class="description mt-3">Web portal for all the health professional to use on a daily basis.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">doctors</span>
                    <span class="badge badge-pill badge-primary">employees</span>
                    <span class="badge badge-pill badge-primary">staff</span>
                  </div>
                  <a href="https://app.swarogya.com/staff_login/" target="_blank" class="btn btn-primary mt-4">Launch</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Hospital Registration</h6>
                  <p class="description mt-3">Get your hospital registered to our system and interface.</p>
                  <div>
                    <span class="badge badge-pill badge-success">register</span>
                    <span class="badge badge-pill badge-success">join us</span>
                    <span class="badge badge-pill badge-success">update</span>
                  </div>
                  <a href="https://app.swarogya.com/hospital_registration" target="_blank" class="btn btn-success mt-4">Register</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Hospital Admin Login</h6>
                  <p class="description mt-3">Portal for the hospital admins to maintain their staff and hospital details.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">admin</span>
                    <span class="badge badge-pill badge-warning">employees</span>
                    <span class="badge badge-pill badge-warning">staffbase</span>
                  </div>
                  <a href="https://app.swarogya.com/hospital_login/" target="_blank" class="btn btn-warning mt-4">Head</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/promo-1.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Useful features</h3>
            <p>Our value proposition is we are providing the people with an automated, hospital management system that reduces extensive resources and Health Professionals requirement drastically, resulting in big savings.
              The system ensures minimum infection to the health professionals and reduces their long working hours, making them healthier and more efficient.
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Automation and Digitization of Hospitals</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Involvement of Patient skills</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Open source License</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/features.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Design System</h4>
              <p class="lead text-italic text-white">
                Swarogya is an Automated System which uses automatic report generation, drastically reducing the manual man power needed, resulting in big saving of running cost on every month basis. The system ensures timely attention of the needy patients.
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Our customers</h3>
            <p class="lead">The most critical factor of this business is the kind of causes we associate the application with Hospitals/Government Agencies.</p>
            <p>The customers are the Hospitals and Government Agencies.</p>
            <p>The user-base includes all the general public.</p>
            <a class="font-weight-bold text-warning mt-5">All the information is stored in a secured cloud database.</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Applications</h4>
              <p class="text-white">These greatly simplify the registration process and ensure efficient hospital management adhering to social distancing measures.
              </p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Hospital Staff</h5>
                  <p>75% reduction in the hospital staff and health professionals required.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">Technology and Human Skills</h5>
                  <p>Patients can easily add their respective information, documents and measurement records to the app.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Broad Overview
            <span class="text-success">What do we aim to solve?</span>
          </h2>
          <p class="lead">With the Pandemic of health problems, more and more people are getting affected. This is causing a lot of stress to the hospitals and actuate shortage of Health care professionals.
            To address this issue, an Automated System is proposed which uses patient skills and technology to tackle this situation and revolutionize the medical industry.
          </p>
          <div class="btn-wrapper">
            <a href="https://youtu.be/kMGJ97bhl64" target="_blank" class="btn btn-primary mb-3 mb-sm-0">Youtube Video</a>
          </div>
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">Technologies Used</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a placement="top" ngbTooltip="Android Studio">
                  <img src="https://developer.android.com/studio/images/studio-icon.svg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a placement="top" ngbTooltip="Angular Framework">
                  <img src="https://www.mbejda.com/content/images/2017/08/AngularJS-Shield.svg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a placement="top" ngbTooltip="Google Cloud Platform">
                  <img src="https://sada.com/wp-content/uploads/2020/03/social-icon-google-cloud-510x510-1.png" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a placement="top" ngbTooltip="Firebase">
                  <img src="https://miro.medium.com/max/300/1*R4c8lHBHuH5qyqOtZb3h-w.png" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a placement="top" ngbTooltip="TensorFlow Library">
                  <img src="https://cdn-images-1.medium.com/max/1200/1*iDQvKoz7gGHc6YXqvqWWZQ.png" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a placement="top" ngbTooltip="Django Framework">
                  <img src="https://avatars.githubusercontent.com/u/27804?s=400&v=4" class="img-fluid">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
